<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Can You EXPLOIT It </title>
    <meta name="description" content="Can You EXPLOIT It">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/svg" href="/images/icon.svg">
    <script src="/js/main.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar">
        <form action="/update" method="GET">
            <img class="navbar__icon" src="/images/icon.svg" id="icon">
        </form>  
        <form action="/update" method="POST">
            <input class="navbar__button" type="submit" value="Update Database" id="update"></input>
        </form>
    </nav>

    <main class="main">
        <h1 class="main__title"> Can You EXPLOIT It ? </h1>

        <form action="/search" method="POST">
            <div class="main__inputs">
                <input class="main__input" type="text" name="targetSoftware" id="targetSoftware" placeholder="Affected Software">
                <input class="main__input" type="text" name="affectedVersion" id="affectedVersion" placeholder="Affected Version">
                <select class="main__input" name="exploitType" id="exploitType" placeholder="Exploit Type">
                    <option disabled selected> Exploit Type </option>
                    <option value=""> </option>
                    <option value="remote"> Remote </option>
                    <option value="dos"> DOS </option>
                    <option value="webapps"> Webapps </option>
                    <option value="local"> Local </option>
                </select>
                <input class="main__input" type="text" name="exploitPlatform" id="exploitPlatform" placeholder="Affected Platform">
                <input class="main__input" type="text" name="testedOn" id="testedOn" placeholder="Tested On">                    
                <input class="main__input" type="text" name="exploitPort" id="exploitPort" placeholder="Affected Port">
                <input class="main__input" type="text" name="CVE" id="CVE" placeholder="CVE">
                <input class="main__input" type="text" name="sellerLink" id="sellerLink" placeholder="Affected Seller">
                <input class="main__input" type="text" name="exploitAuthor" id="exploitAuthor" placeholder="Exploit Author">                 
            </div>

            <div class="main__button-container">
                <input class="main__button" type="submit" id="search" value="Search"> 
            </div>
        </form>  

        {{#if isUpdating}}
            <h3 class="main__update-heading"> The database update is in progress. Check the shell to perform (if necessary) the relevant actions. </h3>
        {{/if}}

        {{#each parametersSearch}}
            <h2 class="main__results-heading"> Results for: </h2>
            <div class="main__results">
                <div class="main__result-container">
                    <h3 class="main__result-field"> Affected Software: </h3>
                    <h3 class="main__result-content"> {{this.targetSoftware}} </h3>
                </div>
                <div class="main__result-container">
                    <h3 class="main__result-field"> Affected Version: </h3>
                    <h3 class="main__result-content"> {{this.affectedVersion}} </h3>
                </div>
                <div class="main__result-container">
                    <h3 class="main__result-field"> Exploit Type: </h3>
                    <h3 class="main__result-content"> {{this.exploitType}}  </h3>
                </div>
                <div class="main__result-container">
                    <h3 class="main__result-field"> Affected Platform: </h3>
                    <h3 class="main__result-content"> {{this.exploitPlatform}} </h3>
                </div>
                <div class="main__result-container">
                    <h3 class="main__result-field"> Tested On: </h3>
                    <h3 class="main__result-content"> {{this.testedOn}} </h3>
                </div>
                <div class="main__result-container">
                    <h3 class="main__result-field"> Affected Port: </h3>
                    <h3 class="main__result-content"> {{this.exploitPort}} </h3>
                </div>
                <div class="main__result-container">
                    <h3 class="main__result-field"> CVE: </h3>
                    <h3 class="main__result-content"> {{this.CVE}} </h3>
                </div>
                <div class="main__result-container">
                    <h3 class="main__result-field"> Affected Seller: </h3>
                    <h3 class="main__result-content"> {{this.sellerLink}} </h3>
                </div> 
                <div class="main__result-container">
                    <h3 class="main__result-field"> Exploit Author: </h3>
                    <h3 class="main__result-content"> {{this.exploitAuthor}} </h3>
                </div>
            </div>     
        {{/each}}

        {{#if results}}
        <section class="main__container-table">
            <table class="main__table">
                <thead>
                    <tr class="main__table-headers">
                        <th class="main__table-header"> Title </th>
                        <th class="main__table-header"> Version </th>
                        <th class="main__table-header"> Type </th>
                        <th class="main__table-header"> Platform </th>
                        <th class="main__table-header"> Tested On </th>
                        <th class="main__table-header"> Port </th>
                        <th class="main__table-header"> CVE </th>  
                        <th class="main__table-header"> Seller </th>
                        <th class="main__table-header"> Software </th>   
                        <th class="main__table-header"> Author </th>
                        <th class="main__table-header"> Publication </th>  
                        <th class="main__table-header"> Exploit Path </th>     
                    </tr>
                </thead>
   
                {{#each results}}
                <tbody>
                    <tr class="main__table-contents">
                        <td class="main__table-content"> {{ this.Description }} </td>
                        <td class="main__table-content"> {{ this.Version }} </td>
                        <td class="main__table-content"> {{ this.Type }} </td>
                        <td class="main__table-content"> {{ this.Platform }}</td>
                        <td class="main__table-content"> {{ this.Tested }} </td>
                        <td class="main__table-content"> {{ this.Port }} </td>
                        <td class="main__table-content"> {{ this.CVE }} </td>                 
                        <td class="main__table-content"> {{ this.SellerLink }} </td>
                        <td class="main__table-content"> {{ this.SoftwareLink }} </td>
                        <td class="main__table-content"> {{ this.Author }} </td>
                        <td class="main__table-content"> {{ this.Date }} </td>
                        <td class="main__table-content"> /usr/share/exploitdb/{{ this.File }} </td>                
                    </tr>    
                    {{/each}}
                </tbody>
            </table>
        </section>
        {{/if}}

        {{#if isEmpty}}
            <h2 class="main__results-heading"> No results found for this search </h2>
        {{/if}}
    </main>

    <footer class="footer">
        <p class="footer__author"> Tool Made by Alvaro Reina </p>
    </footer>
</body>

</html>
